/*--------------------------------------
For Testing Purposes
--------------------------------------*/

.test-border {
  border: 5px solid green;
}

/*--------------------------------------
Fonts
--------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------
Nav in Header 
--------------------------------------*/

header nav .navbar-brand {
  font-weight: bold;
}

header nav .nav-link {
  color: #3e3e3e;
}

/*--------------------------------------
Carousel Section 
--------------------------------------*/

#caption-over-carousel {
  width: 50%;
  bottom: 13%;
  z-index: 50;
}

#carouselExampleIndicators .carousel-item img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #caption-over-carousel {
    width: 90%;
  }
  #carouselExampleIndicators {
    height: 700px;
  }
  #carouselExampleIndicators .carousel-inner,
  #carouselExampleIndicators .carousel-item,
  #carouselExampleIndicators .carousel-item.active {
    height: 100%;
  }
  #carouselExampleIndicators .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: 45% 50%;
  }
}

/*--------------------------------------
Every Moment is Precious Section 
--------------------------------------*/

#every-moment-is-precious-section p {
  color: #6c6c6c;
}
@media screen and (min-width: 768px) {
  #every-moment-is-precious-section > div {
    width: 50%;
  }
}
